{{> head}}

{{> navbar}}

<div class="row">
 <div class="col-8">
     <h1 class="btn-danger">Mi ultimo Wallpapers HD</h1>
     <p class="text-left text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deserunt debitis facilis pariatur corporis assumenda laborum eaque alias illo incidunt neque qui perferendis, animi unde ex fuga ab magni! Autem!</p>
 </div>
 <div class="col-4">
     <img src="assets/img/imagen.jpg" alt="Imagen de muestra" class="img-thumbnail">
 </div>
</div>

{{> footer}}